---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />

    <title>JFC Astro Site</title>
  </head>
  <body>
    <h1>About Me</h1>
    <h2>Trying Astro Initial Tutorial Again</h2>
    <p>
      I highly recommend working throught this tutorial twice. There is a lot to
      learn that you may miss the first time around
    </p>
  </body>
</html>
