---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />

    <title>JFC Astro Site Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
 
    <h1>JFC Astro Blog</h1>
    <h2>Astro Blog</h2>
    <p>
      Once you have tried this a few times you realize how much is available and
      will learn the routine. Keep going 😎
    </p>
  </body>
</html>
