---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
);
const pageTitle = 'JFC Astro Tut Blog';
---

<BaseLayout>
  <h2>Astro Blog</h2>
  <p>
    Once you have tried this a few times you realize how much is available and
    will learn the routine. Keep going 😎
  </p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
