---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />

    <title>JFC Astro Site</title>
  </head>
  <a href="/">Home</a>
  <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
  
  <body>
    <h1>JFC Astro Site</h1>
  </body>


</html>
